.product {
	position: relative;
	color: var(--black);
	width: 320px;
}
.product__shape {
	height: 100%;
}
.product__shape--1 {
	display: block;
	height: 480px;
	clip-path: polygon(13.119533528% 0, 100% 0, 100% 100%, 0 100%, 0 9.127789047%);
}
.product__shape--2 {
	background-color: var(--color-primary);
	clip-path: inset(0 round 0 12px 12px 12px);
	padding: 4px;
}
.product__shape--3 {
	clip-path: polygon(13.119533528% 0, 100% 0, 100% 100%, 0 100%, 0 9.127789047%);
}
.product__shape--4 {
	position: relative;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-row-gap: 14px;
	clip-path: inset(0 round 0 9px 9px 9px);
	background-color: var(--color-concrete);
	padding: 20px 0;
}
.product__header {
	display: grid;
	grid-template: 
	'pretitle' 1rem
	'title' 3rem
	'subtitle' 1.5rem;
	grid-row-gap: 8px;
	padding: 0 13.119533528%;
}
.product__pretitle,
.product__title,
.product__subtitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	text-shadow: none;
	margin: 0;
	line-height: 1;
	text-align: left;
}
.product__pretitle {
	grid-area: 'pretitle';
	color: var(--color-dove-gray);
	font-size: 1rem;
	font-weight: 400;
}
.product__title {
	grid-area: 'title';
	color: var(--black);
	font-size: 3rem;
	font-weight: 700;
}
.product__subtitle {
	grid-area: 'subtitle';
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 700;
}
.product__properties {
	list-style: none;
	padding: 0 13.119533528%;
}
.product__property {
	color: var(--color-dove-gray);
	font-size: .875rem;
	font-weight: 400;
}
.product__property-h {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	text-shadow: none;
	text-align: left;
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
}
.product--foie-gras .product__shape--4 {
	background-image: url(../data/images/cat.png);
	background-repeat: no-repeat;
	background-position: 47% 182%;
	background-size: 118%;
}
.product__badget {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: var(--color-primary);
	width: 81px;
	height: 81px;
	bottom: 11px;
	right: 11px;
	border-radius: 50%;
	color: var(--white);
	margin: 0;
}
.product__badget-big {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	text-shadow: none;
	top: 3px;
	font-size: 42px;
	font-weight: 600;
	line-height: 1;
}
.product__badget__small {
	white-space: nowrap;
	overflow: hidden;
	text-shadow: none;
	font-weight: 600;
	font-size: 21px;
	line-height: 1;
}
.product__thumbsay {
	display: flex;
	justify-content: center;
	align-items: baseline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	padding: 14px var(--global-padding) 0;
	margin-bottom: 0;
	text-shadow: 0 1px 0 var(--black);
	color: var(--white);
	font-family: 'Trebuchet MS';
	font-size: 13px;
	font-size: calc(13rem / 16);
	font-weight: 400;
	line-height: 1;
}
.product__thumbsay a,
.product__thumbsay-action {
	text-decoration: none;
	color: var(--color-primary);
	text-decoration: none;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 700;
	border-bottom: 1px dashed var(--color-primary);
	display: inline-block;
	line-height: 1;
	margin: 0 4px;
}
.product__thumbsay a:hover,
.product__thumbsay a:active,
.product__thumbsay-action:hover,
.product__thumbsay-action:active {
	text-decoration: none;
	border-bottom-color: transparent
}
.product__thumbsay--disabled {
	color: var(--color-laser-lemon);
}
.product__checkbox {
	display: none;
}
.product__checkbox:disabled ~ .product__shape .product__shape--2,
.product__checkbox:disabled ~ .product__shape .product__badget {
	background-color: var(--color-nobel);
}
.product__checkbox:disabled ~ .product__shape .product__pretitle,
.product__checkbox:disabled ~ .product__shape .product__title,
.product__checkbox:disabled ~ .product__shape .product__subtitle,
.product__checkbox:disabled ~ .product__shape .product__property {
	color: var(--color-alto);
}
.product__checkbox:disabled ~ .product__shape .product__shape--4 {
	position: relative;
}
.product__checkbox:disabled ~ .product__shape .product__shape--4::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,.382);
}
.product:not(.product--indeterminate) .product__checkbox:checked ~ .product__shape .product__shape--2,
.product:not(.product--indeterminate) .product__checkbox:checked ~ .product__shape .product__badget,
.product:hover:not(.product--indeterminate) .product__checkbox:not(:checked) ~ .product__shape .product__shape--2,
.product:hover:not(.product--indeterminate) .product__checkbox:not(:checked) ~ .product__shape .product__badget {
	background-color: var(--color-razzmatazz);
}
