@import '~normalize.css';
@import './fonts.css';

:root {
	--s: 320px;
	--m: 768px;
	--l: 1120px;
	--white: #fff;
	--black: #000;
	--body-bg: var(--black);
	--body-color: var(--white);
	--fs-base: 16px;
	--gutter-width: 16px;
	--global-padding: 16px;
	--global-margin: 16px;
	--color-primary: #1698d9;
	--color-razzmatazz: #d91667;
	--color-concrete: #f2f2f2;
	--color-dove-gray: #666;
	--color-nobel: #b3b3b3;
	--color-alto: #d3d3d3;
	--color-laser-lemon: #ff6;
	font-size: var(--fs-base);
	height: 100%;
}

#root {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-color: var(--body-bg);
	color: var(--body-color);
	background-image: url(bg.png);
	background-repeat: repeat;
	background-position: 0;
	height: 100%;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: var(--l);
}

h1 {
	font-size: 2.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	text-align: left;
	font-weight: 100;
	text-shadow: 0 1px 0 var(--black);
	font-weight: 400;
	font-family: 'Exo 2.0', sans-serif;
}

@media (min-width: 320px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
	}
}

a {
	color: var(--color-primary);
	text-decoration: none;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 700;
	border-bottom: 1px dashed var(--color-primary);
}
a:hover,
a:active {
	text-decoration: none;
	border-bottom-color: transparent;
}